<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>kuznetsovandrey76 - diary</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.js"></script>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	{{{body}}}
</body>
</html>