<div class="index-page">
	<a href="/blog">blog page</a><br>

	<form action="/blog">
		<label for="day">day:</label>
			<input id="day" type="text" placeholder="48: February 19, Sunday">
		<label for="progress">progress:</label>
			<input id="progress" type="text">
		<label for="thoughts">thoughts:</label>	
			<textarea id="thoughts" cols="20" rows="5" wrap="virtual"></textarea>
		<label for="link">link:</label>
			<input id="link" type="text"><br>
		<input id="sendToServer" type="submit" value="send">
	</form>
</div>

<script>
	sendToServer.addEventListener("click", function() {
		var data = {
			day: day.value,
			progress: progress.value,
			thoughts: thoughts.value,
			link: link.value
		}

		var xhr = new XMLHttpRequest();
		xhr.open("POST", '/save');
		xhr.setRequestHeader('Content-Type', 'application/json; charset=utf8');
		xhr.send(JSON.stringify(data));

	});
</script>