<div class="login-page">

	<h2 class="login-page__header">Login</h2>
	<form method="post" action="/enter/login" class="login-page__form">
	    <label for="username">Username:</label>
	    <input type="text" name="username" id="username"  placeholder="Username">
	    <label for="password">Password:</label>
	    <input type="password" name="password" id="password" placeholder="Password">
	  <input type="submit" class="login-page__form--submit" value="ENTER">
	</form>
	<p class="login-page__link">or go to <a href="/blog" class="link">Blog</a></p>

</div>