* {	
	box-sizing: border-box;			
	margin: 0;
}

ol, ul {
	padding-left: 1.5em;
}

.index-page,
.blog-page {
	width: 100%;
	height: 100vh;
	font-family: sans-serif;
	display: table;	
}

.index-page--block {
	width: 50%;
	height: 100%;
	display: table-cell;			
}

.index-page__input {
	background: whitesmoke;
}
.index-page--header {
	text-align: center;
	margin: .2em 0 .5em;
}
.index-page__form,
.index-page__output-result,
.blog-page__content-post {
	width: 80%;
	margin: 0 auto 1em;
	padding: 1em;
	background: white;
	box-shadow: 0 0 1em rgba(0,0,0,0.8);
	-webkit-border-radius: 10px;
	        border-radius: 10px;
}
.index-page__form--submit {
	background: yellowgreen;
	border: 1px solid yellowgreen;
	margin: 1em 0 0;
	padding: .3em 0;
}
.index-page__output,
.blog-page {
	background: powderblue;
}
.index-page__output-result--text,
.blog-page__content-post--header {
	font-weight: bold;	
	margin: 0.3em 0;
}
.index-page__output-result--marked,
/* Выбрать элементы без классов (ex. автоматически сгенерированный контент)*/
.blog-page__content-post *:not([class]){
	font-weight: normal;
	font-size: 12px;
	color: rgba(0, 0, 0, .8);
}
label {
	display: block;
	margin: .2em 0;
}
input,
textarea {
	width: 100%;
	padding: .2em .5em;
}

.hide {
	display: none;
}

.blog-page__header {
	text-align: center;
}
.blog-page__header--text {
	margin-top: 0.2em;
}
.blog-page__header--link {
	display: block;
	margin-bottom: 1em;
}
.blog-page__content{
	width: 50%;
	margin: 0 auto;
}

.link {
	text-decoration: none;
	color: deeppink;
}

code {
	color: maroon !important;
	background: whitesmoke;
	padding: .1em;
}